body {
    background-color: rgb(36, 35, 35);
    font-style: Times New Romans;
}

.fund1 {
    width: auto;
    height: auto;
    border: 1px;
    color: rgb(226, 118, 29);
}

h4,
h3 {
    color: #ffffff;
}

h2 {
    color: yellow;
}

.rodape1 {
    background-color: #e6e65a00;
    margin: 12px;
    display: flex;
    font-size: x-small;
    width: 99%;
    padding: 20px;
    right: 0px;
    align-items: center;
}


.face img {
    width: 40px;
    margin: 12px;
}

.insta img {
    justify-content: space-around;
    width: 40px;
    margin: 12px;
}